name: Destroy Production

on:
  workflow_dispatch: 

env:
  AWS_REGION: sa-east-1
  ENVIRONMENT: prod

jobs:
  terraform:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [ '10.0.x' ]

    steps:
      - uses: actions/checkout@v3
      
      - name: Setup dotnet ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      
      - name: Install AWS Lambda Tools
        run: dotnet tool install -g Amazon.Lambda.Tools
        
      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build 

      - name: Package Lambda MapearDadosArquivo
        run: dotnet lambda package --configuration Release --framework net10.0 --output-package ../infra/packages/MapearDadosArquivo.zip
        working-directory: ./MapearDadosArquivo

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: |
          terraform init \
            -backend-config="bucket=${{ secrets.TF_STATE_BUCKET }}" \
            -backend-config="key=terraform.tfstate" \
            -backend-config="region=${{ env.AWS_REGION }}"
        working-directory: ./infra
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Terraform Destroy
        run: terraform destroy -var-file="${{ env.ENVIRONMENT }}/terraform.tfvars" -auto-approve
        working-directory: ./infra
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
